[Unit]
Description=Minecraft Server - %i
After=network.target

[Service]
WorkingDirectory=/home/%i/server

User=%i
Group=%i

Restart=always
GuessMainPID=yes

ExecStart=/usr/bin/screen -DmS mc-%i ./start.sh

ExecStop=/usr/bin/screen -p 0 -S mc-%i -X stuff "say Shutting down in 10s...\015save-all\015"
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X stuff "say Shutting down in 5s...\015"
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X stuff ^C
ExecStop=/bin/tail --pid $MAINPID -f /dev/null

[Install]
WantedBy=multi-user.target
